@font-face {
  font-family: "iconfont"; /* Project id 2868922 */
  src: url('iconfont.woff2?t=1634218697511') format('woff2'),
       url('iconfont.woff?t=1634218697511') format('woff'),
       url('iconfont.ttf?t=1634218697511') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinsibaohu:before {
  content: "\e99b";
}

.icon-user:before {
  content: "\e99e";
}

